{% macro msStart(tableWidth, tdWidth, valign, style) %}
<!--[if (gte mso 9)|(IE)]>
<table width="{{ tableWidth }}" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="{{ valign }}" width="{{ tdWidth }}"{% if style %} style="{{ style }}"{% endif %}>
<![endif]-->
{% endmacro %}


{% macro msStep(tdWidth, valign, style) %}<!--[if (gte mso 9)|(IE)]>
</td>
<td valign="{{ valign }}" width="{{ tdWidth }}"{% if style %} style="{{ style }}"{% endif %}>
<![endif]-->{% endmacro %}


{% macro msEnd() %}
<!--[if (gte mso 9)|(IE)]>
        </td>
    </tr>
</table>
<![endif]-->
{% endmacro %}
